#news {
padding-top: 50px;  
background: black;
}

.news-container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.ps {
  display: flex;
  justify-content: space-between;
}

.ps p {
  padding-right: 1000px;
  padding-bottom: 1px;
  padding-top: 11px;
  color: #57B8FF;
  display: flex;
  font-size: 15px;
}

.article {
color: white;
display: flex;
justify-content: space-between;
width: 541px;
flex-direction: column;
color: #FFF;
font-size: 30px;
font-family: Orbitron;
line-height: 74px;
/* text-transform: capitalize; */
}

.btn-more {
padding-left: 1180px;
}

.btn-read button {
cursor: pointer;
color: white;
background: #57B8FF;
border: #57B8FF;
width: 150px;
height: 50px;
}

.fath {
  display: flex;
  justify-content: space-between;
}


.click {
  flex-direction: row;
  padding: 4px 60px 15px 60px;
  width: 90%;
}


.click p {
  color: #57B8FF;
  padding-bottom: 24px;
}

.click h1 {
  color: white;
}

.navi p {
  color: #57B8FF;
  padding-bottom: 24px;
}

.navi h1 {
  color: white;
}

.rx {
  display: flex;
  justify-content: space-between;
}

.four img{
  width: 250px;
  height: auto;
  
}
.four { 
  padding-right: 25px;
}
